POSTGRES_DB=openscholar
POSTGRES_USER=openscholar
POSTGRES_PASSWORD=openscholar
POSTGRES_PORT=5432
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/openscholar
SPRING_DOCKER_COMPOSE_ENABLED=true
